<%- include('../partials/head') %>
  <%- include('../partials/header') %>
    <main>
      <div>
        <form action="createProduct" method="post" enctype="multipart/form-data">
          <h3>Formulario de creacion de producto</h3>

          <div class="formulario">
            <div class="description">
              <input type="text" name="name" id="name" class="drawer" required placeholder="Nombre del producto" />
            </div>
            <div class="description">
              <input type="number" name="price" id="price" class="drawer" required placeholder="Precio del producto" />
            </div>
            <div class="description">
              <!-- <label for="img">Ingrese la foto de su producto</label>
              <input type="file" name="img" id="img" class="drawer" required /> -->
              <label for="img" class="drawer">
                <span id="info">Ingrese la foto de su producto</span>
              </label>
              <input id="img" name="img" onchange='cambiar()' type="file" style='display: none;' />
            </div>
            <div class="description">
              <input type="text" name="shortDesc" id="shortDesc" class="drawer" required rows="10" cols="50"
                placeholder="Haga una breve desdripcion del personaje" />
            </div>
            <div class="description">
              <input type="text" name="longDesc" id="longDesc" rows="10" cols="50" class="drawer"
                placeholder="Haga una descripcion del producto" />
            </div>

            <div class="description">
              <select name="category" id="category" class="drawer">
                <option>Categoria</option>
                <option value="Common">Comun</option>
                <option value="Rare">Rara</option>
                <option value="Very rare">Muy Rara</option>
                <option value="Epic">Epica</option>
              </select>
            </div>
            <div class="description">
              <input type="text" name="universe" id="universe" class="drawer" placeholder="Universo" />
            </div>
            </div>
            <div class="buttoms">
              <button type="submit">Subir</button>
              <button type="reset">Borrar</button>
            </div>
          
        </form>
      </div>
    </main>
    </body>
    <script>
      function cambiar() {
        var pdrs = document.getElementById('img').files[0].name;
        document.getElementById('info').innerHTML = pdrs;
      }
    </script>