<%- include('../partials/head') %> <%- include('../partials/header') %>

<main>
  <div>
    <form action="/store/editProduct/<%= producto.id %>?_method=PUT"" method="post" enctype="multipart/form-data">
      <h3>Formulario de edicion del producto <%= producto.name %></h3>

      <div class="formulario">
        <div class="description">
          <label for="name">Nombre del producto</label>
          <input type="text" name="name" id="name" class="drawer" required />
        </div>
        <div class="description">
          <label for="price">Precio del producto</label>
          <input
            type="number"
            name="price"
            id="price"
            class="drawer"
            required
          />
        </div>
        <div class="description">
          <label for="img">Ingrese la foto de su producto</label>
          <input type="file" name="img" id="img" class="drawer" required />
        </div>
        <div class="description">
          <label for="shortDesc"
            >Haga una breve desdripcion del personaje</label
          >
          <input
            type="text"
            name="shortDesc"
            id="shortDesc"
            class="drawer"
            required
            rows="10"
            cols="50"
          />
        </div>
        <div class="description">
          <label for="longDesc">Haga una descripcion del producto</label>
          <input
            type="text"
            name="longDesc"
            id="longDesc"
            rows="10"
            cols="50"
            class="drawer"
          />
        </div>
        <div class="description">
          <label for="universe">Universo</label
          ><input type="text" name="universe" id="universe" class="drawer" />
        </div>
        <div class="description">
          <select name="category" id="category">
            <option value="Common">Comun</option>
            <option value="Rare">Rara</option>
            <option value="Very rare">Muy Rara</option>
            <option value="Epic">Epica</option>
          </select>
        </div>
        <div>
          <button type="submit">Subir</button>
          <button type="reset">Borrar</button>
        </div>
      </div>
    </form>
  </div>
</main>
