<%- include("../partials/head") %> <%- include("../partials/header") %>

<main class="marketplace">
  <article class="productGrid">
    <div class="productOnGrid">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium optio
      rem necessitatibus assumenda at laboriosam omnis fugiat consectetur soluta
      numquam ullam veritatis est harum, quas maxime ex itaque ut repellendus.
    </div>
    <div class="productOnGrid">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi enim quaerat
      ullam sapiente esse. Laudantium animi inventore earum facere tempore saepe
      eveniet pariatur quam architecto perspiciatis molestias, ratione adipisci
      rerum?
    </div>
    <div class="productOnGrid">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
      perferendis nisi distinctio dolores, nostrum dolor provident quis aliquam.
      Odit sint sit est error distinctio optio aperiam cum minus, dolorum rem.
    </div>
    <div class="productOnGrid">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
      perferendis nisi distinctio dolores, nostrum dolor provident quis aliquam.
      Odit sint sit est error distinctio optio aperiam cum minus, dolorum rem.
    </div>
    <div class="productOnGrid">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
      perferendis nisi distinctio dolores, nostrum dolor provident quis aliquam.
      Odit sint sit est error distinctio optio aperiam cum minus, dolorum rem.
    </div>
  </article>
</main>

<%- include("../partials/footer") %>
