<%- include("../partials/head") %> <%- include("../partials/header") %>

<main class="card">
  <section class="card-1">
    <div class="product">
      <figure>
        <img src="/img/mewtwo.png" alt="Mewtwo" />
      </figure>
      <div class="producDetails">
        <a href="">Mewtwo</a>
        <h6>#000001</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          commodi repudiandae illo quasi accusantium facilis amet sunt beatae
          temporibus doloremque!
        </p>
      </div>
    </div>
    <div class="buy">
      <form action="">
        <div class="buy-option">
          <h5>$99.99</h5>
          <select name="" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="button">
          <button>Comprar</button>
          <button>Agrgar al carrito</button>
        </div>
      </form>
    </div>
  </section>
  <section>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        commodi repudiandae illo quasi accusantium facilis amet sunt beatae
        temporibus doloremque! Animi molestias doloribus maiores voluptatum
        dignissimos dicta praesentium autem ea
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        commodi repudiandae illo quasi accusantium facilis amet sunt beatae
        temporibus doloremque! Animi molestias doloribus maiores voluptatum
        dignissimos dicta praesentium autem ea
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        commodi repudiandae illo quasi accusantium facilis amet sunt beatae
        temporibus doloremque! Animi molestias doloribus maiores voluptatum
        dignissimos dicta praesentium autem ea
      </p>
    </div>
  </section>
</main>

<%- include("../partials/footer") %>
