<%- include("../partials/head") %> <%- include("../partials/header") %>

<main class="card">
  <section class="cart">
    <div class="product">
      <figure>
        <img src="/img/mewtwo.png" alt="Mewtwo" />
      </figure>
      <div class="producDetails">
        <div class="info">
          <a href="">Mewtwo</a>
          <h6>#000001</h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            commodi repudiandae illo quasi accusantium facilis amet sunt beatae
            temporibus doloremque! Animi molestias doloribus maiores voluptatum
            dignissimos dicta praesentium autem ea.
          </p>
          <form action="">
            <button>Agrgar al carrito</button>
            <button>Comprar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("../partials/footer") %>
