<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/stylesCart.css">
</head>
<body>
    <header>
        <nav>
            <ul class="index">
                <li><a href="/">Inicio</a></li>
                <li><a href="/coleccion">Mi Colección</a></li>
                <li><a href="/mercado"></a>Mercado</li>
            </ul>
            <ul class="accounts">
                <!-- <li><a href=""><button><img src="/img/accLogo.svg" alt="Mi Cuenta" class="accNav"></button></a></li>
                <li><a href="/carrito"><button><img src="/img/cart.svg" alt="Mi Carrito" class="accNav"></button></a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <section class="cartDisplay">
            <h3 class="cartTitles1">Productos</h3>
            <h3 class="cartTitles2">Cantidad</h3>
            <h3 class="cartTitles3">Precio</h3>
            <div class="cartProducts">
                <article class="product1">
                    <h4 class="productName"></h4>
                    <div class="quantity"></div>
                    <h4 class="cartPrice"></h4>
                </article>
                <article class="product2">
                    <h4 class="productName"></h4>
                    <div class="quantity"></div>
                    <h4 class="cartPrice"></h4>
                </article>
                <article class="product3">
                    <h4 class="productName"></h4>
                    <div class="quantity"></div>
                    <h4 class="cartPrice"></h4>
                </article>
                <article class="product4">
                    <h4 class="productName"></h4>
                    <div class="quantity"></div>
                    <h4 class="cartPrice"></h4>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <article class="footer">
            <div>
                <h4>Sobre nosotros</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt molestias maiores doloribus dolore autem nemo reiciendis amet</p>
            </div>
        </article>
        <article class="footer">
            <div>
                <h4>Algo más</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quia architecto a repudiandae</p>
            </div>
        </article>
        <article class="Copyright"></article>
    </footer>
</body>
</html>