<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHaunters</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul class="index">
                <li><a href="/">Inicio</a></li>
                <li><a href="/coleccion">Mi Colección</a></li>
                <li><a href="/mercado">Mercado</a></li>
            </ul>
            <ul class="accounts">
                <li><a href=""><button><img src="/img/accLogo.svg" alt="Mi Cuenta" class="accNav"></button></a></li>
                <li><a href="/carrito"><button><img src="/img/cart.svg" alt="Mi Carrito" class="accNav"></button></a></li>
            </ul>
        </nav>
    </header>
    <main class="resume">
        <h1>Bienvenido a DHaunters</h1>
        <p>Tu sitio preferido para obtener coleccionables digitales exclusivos (al menos según la serial).</p>
    </main>
    <footer>
        <div class="abtUs">
            <h4>Sobre nosotros</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem praesentium aperiam voluptate nam hic quidem ratione earum impedit soluta est labore ex quia, adipisci corporis sint. Aliquid, facilis sequi!</p>
        </div>
        <div class="footer">
            <h4></h4>
        </div>
    </footer>
</body>
</html>