<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Bienvenido a DHaunters</title>
    <link rel="stylesheet" href="/css/styless.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="/css/stylesHome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Shadows+Into+Light&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="brand">
                <i class="fa-brands fa-reddit"></i>
            </a>
            <div class="desktopNav">
                <ul>
                    <li><a href="/mercado">Mercado</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li><a href="/coleccion">Colección</a></li>
                    <li><a href="/favoritos">Favoritos</a></li>
                    <li><a href="/productDetail">Product Details</a></li>
                </ul>
            </div>
            <div>
                <a href="" id="choiceLogOrSign"><i class="fa-solid fa-user"></i></a>
                <a href="" id="burgerMenu"><i class="fa-solid fa-bars"></i></a>
            </div>
            <div class="mobileNav">
                <a href="/mercado">Mercado</a>
                <a href="/coleccion">Colección</a>
                <a href="/favoritos">Favoritos</a>
                <a href="/productDetail">Detalles del Producto</a>
                <a href="/">DHaunters</a>
            </div>
        </nav>
        <div id="overlay">
            <div id="popup">
                <i class="fa-solid fa-xmark" id="closePopup"></i>
                <a href="/iniciarSesion" id="logIn">Iniciar Sesion</a>
                <a href="/registro" id="signUp">Registrarse</a>
            </div>
        </div>
    </header>
    <main>
        <section class="add-banner-container">
            <ul class="add-banner-slider">
                <li id="add-banner-1">
                    <img src="/img/add-banner-1.jpeg" alt="">
                </li>
                <li id="add-banner-2">
                    <img src="/img/add-banner-2.jpeg" alt="">
                </li>
                <li id="add-banner-3">
                    <img src="/img/add-banner-3.jpeg" alt="">
                </li>
            </ul>
            <ul class="add-banner-menu">
                <li>
                    <a href="#add-banner-1"><i class="fa-regular fa-circle"></i></a>
                </li>
                <li>
                    <a href="#add-banner-2"><i class="fa-regular fa-circle"></i></a>
                </li>
                <li>
                    <a href="#add-banner-3"><i class="fa-regular fa-circle"></i></a>
                </li>
            </ul>
        </section>


        <div>A</div>
        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita nesciunt veniam unde reiciendis totam
            obcaecati distinctio voluptatem, perspiciatis illo iure, fugiat praesentium tempora? Id, amet voluptates!
            Assumenda, quam! Voluptatum, illo?

        </div>

    </main>
    <footer>
        <section class="topFooter">
            <article>
                <i class="fa-solid fa-users"></i>
                <h4>Sobre Nosotros</h4>
                <p>Somos el Grupo 01 de la comisión 02 de Desarrollo Web Fullstack, nuestros integrantes son: Barragán,
                    Giraldo, Micha y Torres</p>
            </article>
            <article>
                <i class="fa-solid fa-truck-plane"></i>
                <h4>Envíos Internacionales</h4>
                <p>Nos encargamos de conseguir el mejor envío costo-beneficio.</p>
            </article>
            <article>
                <i class="fa-solid fa-envelope"></i>
                <h4>Contacta con nosotros</h4>
                <ul>
                    <li>
                        <a href="https://github.com/Niicoojk/grupo_01_DHaunters" target="_blank">GitHub</a>
                    </li>
                </ul>
            </article>
        </section>
        <div class="botFooter">
            <h6>
                Copyright <i class="fa-solid fa-copyright"></i>
                2022 DigitalHaunters S.R.L.
            </h6>
        </div>
    </footer>
    <script src="/js/index.js"></script>
</body>

</html>