<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul class="index">
                <li><a href="/">Inicio</a></li>
                <li><a href="/coleccion">Mi Colección</a></li>
            </ul>
            <ul class="accounts">
                <li><a href=""><button><img src="/img/accLogo.svg" alt="Mi Cuenta" class="accNav"></button><br>Mi Cuenta</a></li>
                <li><a href="/carrito"><button><img src="/img/cart.svg" alt="Mi Carrito" class="accNav"></button><br>Carrito</a></li>
            </ul>
        </nav>
    </header>
    <aside>

    </aside>
    <main class="marketplace">
        <article class="productGrid">
                <div class="productOnGrid">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium optio rem necessitatibus assumenda at laboriosam omnis fugiat consectetur soluta numquam ullam veritatis est harum, quas maxime ex itaque ut repellendus.</div>
                <div class="productOnGrid">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi enim quaerat ullam sapiente esse. Laudantium animi inventore earum facere tempore saepe eveniet pariatur quam architecto perspiciatis molestias, ratione adipisci rerum?</div>
                <div class="productOnGrid">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum perferendis nisi distinctio dolores, nostrum dolor provident quis aliquam. Odit sint sit est error distinctio optio aperiam cum minus, dolorum rem.</div>
                <div class="productOnGrid">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum perferendis nisi distinctio dolores, nostrum dolor provident quis aliquam. Odit sint sit est error distinctio optio aperiam cum minus, dolorum rem.</div>
                <div class="productOnGrid">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum perferendis nisi distinctio dolores, nostrum dolor provident quis aliquam. Odit sint sit est error distinctio optio aperiam cum minus, dolorum rem.</div>
        </article>
    </main>
    <footer>
        <div class="abtUs">
            <h4>Sobre nosotros</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem praesentium aperiam voluptate nam
                hic quidem ratione earum impedit soluta est labore ex quia, adipisci corporis sint. Aliquid, facilis sequi!
            </p>
        </div>
        <div class="footer">
            <h4></h4>
        </div>
    </footer>
</body>
</html>