<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/coleccion">Mi Colección</a></li>
            </ul>
        </nav>
    </header>
    <aside>

    </aside>
    <article>
        <section>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium optio rem necessitatibus assumenda at laboriosam omnis fugiat consectetur soluta numquam ullam veritatis est harum, quas maxime ex itaque ut repellendus.</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi enim quaerat ullam sapiente esse. Laudantium animi inventore earum facere tempore saepe eveniet pariatur quam architecto perspiciatis molestias, ratione adipisci rerum?</div>
        </section>
    </article>
</body>
</html>