<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Colección</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&family=Smooch+Sans:wght@300;500;700;900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="index">
                <li><a href="/">Inicio</a></li>
                <li><a href="/mercado">Mercado</a></li>
            </ul>
            <ul class="accounts">
                <li><a href=""><button><img src="/img/accLogo.svg" alt="Mi Cuenta" class="accNav"></button><br>Mi Cuenta</a>
                </li>
                <li><a href="/carrito"><button><img src="/img/cart.svg" alt="Mi Carrito" class="accNav"></button><br>Carrito</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        <div class="abtUs">
            <h4>Sobre nosotros</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem praesentium aperiam voluptate nam
                hic quidem ratione earum impedit soluta est labore ex quia, adipisci corporis sint. Aliquid, facilis sequi!
            </p>
        </div>
        <div class="footer">
            <h4>Contacta con nosotros</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rem dicta fuga consequuntur incidunt ipsum aperiam odit. Corrupti, minus quos adipisci maxime distinctio, eaque quae voluptates ullam, molestias ea ad.</p>
        </div>
    </footer>
</body>
</html>