<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DHaunters</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&family=Smooch+Sans:wght@300;500;700;900&display=swap"
    rel="stylesheet">

    <!-- link de Awesome (iconos) -->
    <script src="https://kit.fontawesome.com/438a418e01.js" crossorigin="anonymous"></script>

    <!-- link normalice -->
    <link rel="stylesheet" href="/css/normalize.css">

    <!-- link de los estilos de la pagina de detalles del producto -->
    <link rel="stylesheet" href="/css/styleProDeta.css">
</head>
<body>
    <header>
        <div class="burger"> <!-- va la hamburgesa para pantallas chicas -->
            <button>
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="logo"> <!-- aca iria la imagen del logo -->
            <p>logo</p>
        </div>
        <div class="nav"> <!-- aca va el navegador -->
            <nav>
                <ul>
                    <li>Marketplace</li>
                    <li>My Colection</li>
                    <li>My Favorite</li>
                </ul>
            </nav>
        </div>
        <div class="user-buy"> <!-- usuarios y carrito -->
            <a href="/iniciarSesion"><i class="fa-solid fa-circle-user"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </header>

    <main class="resume">
        <!-- se crea un articule para detallar lo que se compra: foto, nombre, precio y botones -->
        <article class="product-detail">
            <div class="imagen">
                <img src="/img/mewtwo.png" alt="Foto del producto que se escogio">
            </div>
            <div class="product-price">
                <h3>Mewtwo</h3>
                <p class="product-id">N de ID del producto</p>
                <p class="precio">precio</p>
                <div>
                    <button type="submit" class="button">comprar</button>
                    <button type="submit" class="button">agregar a favoritos</button>
                </div>
            </div>
        </article>
        <!-- se crea un articule para la descripcion del producto -->
        <article class="product-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero labore dolorem aperiam veritatis possimus quisquam ab enim error maxime assumenda, officia placeat natus minima temporibus. Dolores, accusamus. Ratione, excepturi inventore!</p>
        </article>
    </main>

    <footer>
        <!-- aca pondriamos nuestros linkeling o GitHub como enlaces -->
        <div>
            <h4>Anthony Micha</h4>
            <p>
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </p>
        </div>
        <div>
            <h4>Diego Giraldo</h4>
            <p>
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </p>
        </div>
        <div>
            <h4>Nicolas Barragan</h4>
            <p>
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </p>
        </div>
        <div>
            <h4>Matias Torres</h4>
            <p>
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </p>
        </div>
    </footer>
</body>
</html>