<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&family=Smooch+Sans:wght@300;500;700;900&display=swap"
        rel="stylesheet">
        <!-- link general de style -->
    <link rel="stylesheet" href="/css/styless.css">
    <!-- link particular de style de la pagina -->
    <link rel="stylesheet" href="/css/styleProDeta.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="brand">
                <i class="fa-brands fa-reddit"></i>
            </a>
            <div class="desktopNav">
                <ul>
                    <li><a href="/mercado">Mercado</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li><a href="/coleccion">Colección</a></li>
                    <li><a href="/favoritos">Favoritos</a></li>
                    <li><a href="/productDetail">Product Details</a></li>
                </ul>
            </div>
            <div>
                <a href="" id="choiceLogOrSign"><i class="fa-solid fa-user"></i></a>
                <a href="" id="burgerMenu"><i class="fa-solid fa-bars"></i></a>
            </div>
            <div class="mobileNav">
                <a href="/mercado">Mercado</a>
                <a href="/coleccion">Colección</a>
                <a href="/favoritos">Favoritos</a>
                <a href="/productDetail">Detalles del Producto</a>
                <a href="/">DHaunters</a>
            </div>
        </nav>
        <div id="overlay">
            <div id="popup">
                <i class="fa-solid fa-xmark" id="closePopup"></i>
                <a href="/iniciarSesion" id="logIn">Iniciar Sesion</a>
                <a href="/registro" id="signUp">Registrarse</a>
            </div>
        </div>
    </header>

    <main class="card">
        <!-- se crea un articule para detallar lo que se compra: foto, nombre, precio y botones -->
        <article class="product-detail">
            <div class="imagen">
                <img src="/img/mewtwo.png" alt="Foto del producto que se escogio">
            </div>
            <div class="product-price">
                <div class="description-card">
                    <h3>Mewtwo</h3>
                    <p class="product-id">N de ID del producto</p>
                    <p class="precio">$5.90</p>
                </div>
                <div class="product-button">
                    <button type="submit" class="button">comprar</button>
                    <button type="submit" class="button">agregar a favoritos</button>
                </div>
            </div>
        </article>
        <!-- se crea un articule para la descripcion del producto -->
        <article class="product-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero labore dolorem aperiam veritatis possimus quisquam ab enim error maxime assumenda, officia placeat natus minima temporibus. Dolores, accusamus. Ratione, excepturi inventore!</p>
        </article>
    </main>

    <footer>
        <section class="topFooter">
            <article>
                <i class="fa-solid fa-users"></i>
                <h4>Sobre Nosotros</h4>
                <p>Somos el Grupo 01 de la comisión 02 de Desarrollo Web Fullstack, nuestros integrantes son: Barragán,
                    Giraldo, Micha y Torres</p>
            </article>
            <article>
                <i class="fa-solid fa-truck-plane"></i>
                <h4>Envíos Internacionales</h4>
                <p>Nos encargamos de conseguir el mejor envío costo-beneficio.</p>
            </article>
            <article>
                <i class="fa-solid fa-envelope"></i>
                <h4>Contacta con nosotros</h4>
                <ul>
                    <li>
                        <a href="https://github.com/Niicoojk/grupo_01_DHaunters" target="_blank">GitHub</a>
                    </li>
                </ul>
            </article>
        </section>
        <div class="botFooter">
            <h6>
                Copyright <i class="fa-solid fa-copyright"></i>
                2022 DigitalHaunters S.R.L.
            </h6>
        </div>
    </footer>
    <script src="/js/index.js"></script>
</body>
</html>