/* Imports */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Smooch+Sans:wght@300;500;700;900&display=swap');

/* General */
:root{
    --externalB:#104C53;
    --navIconsC:#02C1CA;
    --backgrondC:#132E35;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: var(--backgrondC);
}
a{
    color: white;
}
button{
    background: transparent;
    border: none;
}
.f{
    display: flex;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
/* =======================================*/
/*                  Header                */
/* =======================================*/
header{
    width: 100vw;
    height: auto;
    background: var(--externalB);
    padding: 7px 7px 12px;
}
/* Top Header */
.topHeader{
    justify-content: space-between;
    align-items: center;
}
header figure img{
    width: 25px;
    height: 25px;
}
header .searchBar input,
header .searchBar button{
    border: 2px solid black;
}
header ul{
    gap: 10px;
}
header ul li i{
    color: var(--navIconsC);
    font-size: 20px;
}
.toggleNavBar{
    display: none;
}
.toggleNavBar.active{
    display: flex;
    padding-top: 10px;
}

.toggleNavBar button{
    margin: auto;
    border: none;
    background: transparent;
    padding: 10px;
    background: var(--navIconsC);
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.fa-bars{
    text-align: center;
    color: white;
    font-size: 15px;
}
/* Bottom Header */
.botHeader{
    display: none;
}
.botHeader.active{
    display:flex;
}
.navBar ul{
    flex-direction: column;
}


/* =======================================*/
/*                  Footer                */
/* =======================================*/
footer{
    background: var(--externalB);
    width: 100vw;
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 10px 7px 7px;
}
footer h5{
    font-size: 20px;
}
footer p,
footer a{
    font-size: 16px;
}
footer i{
    color: var(--navIconsC);
    font-size: 24px;
}
.topFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botFooter{
    font-size: 20px;
    font-weight: 400;
    color: #bebebe;
}
.botFooter i{
    font-size: 14px;
    font-weight: 400;
    color: #bebebe;
}

/* =======================================*/
/*                  PopUps                */
/* =======================================*/
.overlay{
    background: rgba(31, 31, 31, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay .active{
    visibility: visible;
}
.popUp{
    background: #000000;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
    width: 60%;
    opacity: 0;
    transition: .3s ease all;
    transform: scale(0.7);
}
.popUp .btnCerrarPopUp{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
}
.popUp .optionContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popUp .optionContainer button{
    width: 80%;
    height: 40%;
    margin: 10px 20px;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    cursor: pointer;
}
.popUp .optionContainer button a{
    color: #000;
    font-size: 16px;
}
.popUp .optionContainer button.logIn{
    background: #02C1CA95;
    transition: .3s ease all;
}
.popUp .optionContainer button.register{
    background: rgba(255, 255, 255, 0.8);
    transition: .3s ease all;
}

/* =======================================*/
/*                Animations              */
/* =======================================*/
.popUp.active{
    opacity: 1;
    transform: scale(1);
}
.popUp .optionContainer button.logIn:hover{
    background: var(--navIconsC);
}
.popUp .optionContainer button.register:hover{
    background: rgb(255, 255, 255);
}

/* =======================================*/
/*                  Queries               */
/* =======================================*/
@media (min-width: 481px) {
    /* Header */
    .navBar ul{
        flex-direction: row;
    }
<<<<<<< HEAD
=======
    /* Footer */
>>>>>>> b88f207d4ab60c843b710f78ab186d9b66640084
}
@media (min-width: 769px) {
    /* Header */

    /* Footer */
    .topFooter{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .topFooter article{
        width: 30%;
    }

}
@media (min-width: 1280px) {
<<<<<<< HEAD
=======
    /* Header */
    
    /* Footer */
>>>>>>> b88f207d4ab60c843b710f78ab186d9b66640084
}