@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");

header {
  border-bottom: solid 2px rgba(18, 18, 18, 0.4);
}
main {
  width: 100%;
}

.carousel-container {
  width: 650px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}
.carousel__slide {
  transform: translateX(-650px);
  display: flex;
  width: 100%;
}
.carousel__slide_image {
  height: 350px;
  width: 650px;
  object-fit: cover;
}

.button_holder {
  position: absolute;
  width: 100%;
  top: 45%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.carousel__button {
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  color: whitesmoke;
  background-color: rgba(15, 139, 141, 1);
  border-radius: 50%;
}

.carousel__controls {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.carousel__controls li {
  background: none;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  border: 2px solid rgba(15, 139, 141);
  border-radius: 50%;
  cursor: pointer;
}
.carousel__dot[checked] {
  background-color: rgba(15, 139, 141, 1);
}

/* section.productList {
   background-color: rgba(0, 0, 0, 0.2);
} */

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

section div.product-section-title {
  padding-left: 20px;
  padding-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1px 20px 1px 20px;
  box-shadow: 0px 0px 4px 0px rgba(18, 18, 18, 0.4);
  width: 100%;
}
section div.product-section-title h2 {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Comfortaa", cursive;
  font-weight: bolder;
}

.product {
  min-height: 60px;
  width: 70vw;
  /* height: 20%; */
  margin-bottom: 14px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  background: rgba(15, 139, 141, 1);

  /* border-radius: 20px; */
  border-radius: 22px 5px 21px 3px;
  box-shadow: 0px 0px 20px 0px #000;
  font-family: "Smooch Sans", sans-serif;
  min-width: 300px;
  max-width: 600px;
}
.product:hover {
  box-shadow: 0px 0px 10px 0px;
}

.product figure {
  width: 30%;
  margin-right: 2px;
  min-width: 100px;
}
.product figure img {
  width: 100px;
  max-height: 100px;
  min-height: 100px;
  border: 5px solid;
  border-color: rgb(255, 249, 249, 0.6);
  border-radius: 1px 20px 2px 22px;
}
.cart__product__detail__buttons,
.cart__buttons {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cart__buttons {
  display: inline;
  float: right;
}
.cart__buttons i {
  font-size: 1rem;
}
.cart__buttons .hidden {
  display: none;
}
.cart__button {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: limegreen;
}

div.productDetail {
  padding-top: 15px;
  margin-left: 0px;
}
div.productDetail h3 {
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  font-family: "Comfortaa", cursive;
}
div.productDetail p {
  letter-spacing: 1.3px;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
div.productDetail h4 {
  margin-top: 4px;
  letter-spacing: 2px;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Comfortaa", cursive;
  padding-bottom: 5px;
}

main section.productList div.fullCatalogue-icon {
  margin-bottom: 10px;
  margin-top: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1px 20px 1px 20px;
  box-shadow: 0px 0px 4px 0px rgba(18, 18, 18, 0.4);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s;
}

main section.productList div.fullCatalogue-icon i {
  font-size: 2rem;
}
main section.productList div.fullCatalogue-icon:hover {
  font-size: 1.3rem;
  box-shadow: 0px 0px 10px 0px;
}
main section.productList div.fullCatalogue-icon i:hover {
  font-size: 2.4rem;
}

/* -- FOOOTER FOOOTER FOOTER -- */
footer {
  font-family: sans-serif;
  font-family: "Open Sans", sans-serif;
}
footer section.topFooter article {
  padding-top: 20px;
}

footer section.topFooter article h4 {
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 7px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Comfortaa", cursive;
}
footer section.topFooter article p {
  font-size: 1rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
}

footer div.botFooter {
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  margin-bottom: 8px;
  margin-top: 35px;
}

/* modificaciones Diego */

/* Modificaciones user profile */

.avatar {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.userAvatar {
  border: 5px solid rgba(255, 255, 255, 0.55);
  width: 50%;
  max-width: 250px;
  min-width: 250px;
  max-height: 250px;
  min-height: 250px;
}

.avatar .userAvatar img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
}

@media (min-width: 1260px) {
  main .product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .product {
    max-width: 180px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    width: 20vw;
  }
  .userAvatar {
    max-width: 350px;
    min-width: 350px;
    max-height: 350px;
    min-height: 350px;
  }
}

.containerProduct {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.product-section-title {
  max-width: 1600px;
}

.fullCatalogue-icon {
  text-align: center;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
