* {
  font-family: "Comfortaa", cursive;
}

.logo a {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.8rem;
  color: #02c1ca;
}


.banner {
  position: relative;
  width: 100%;
  height: 330px;
  overflow: hidden;
  margin: 0px auto 10px;
}
.bannerSlider {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.bannerSlider :first-child {
  opacity: 1;
}
.bannerSlider li {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: opacity ease 350ms;
  position: absolute;
}
.bannerSlider li:target {
  opacity: 1;
}
.bannerSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bannerSlider .btnHolder {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  opacity: 0;
  transition: 350ms ease all;
}
.bannerSlider:hover .btnHolder {
  opacity: 1;
}
.bannerSlider .btn {
  z-index: 2;
  margin-inline: 15px;
  cursor: pointer;

}

.bannerMenu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
.bannerMenu li {
  z-index: 2;
  margin-bottom: 7px;
  cursor: pointer;
}
.bannerMenu li a {
  line-height: 0;
  padding: 1px 10px;
  border: 1px solid #1c5b8f;
  border-radius: 100%;
}
.bannerMenu li a:focus {
  background-color: #1c5b8f;
}
.bannerMenu li a:active {
  background-color: #1c5b8f;
}

