main {
    color: white;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imagen {
    padding: 5% 5% 2% 5%;
}

.product-price {
    padding: 0 3% 3% 3%;
}


.description-card .product-id {
    padding-bottom: 20px;
}

.description-card .precio {
    padding-top: 20px;
}

.product-button {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #8CD01A;
    border: 2px solid #D2E669 ;
    margin: 3px;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: white;
}

.product-description {
    border-top: 1px solid grey;
    margin: 5%;
    padding: 3%;
}

@media (min-width: 769px) {
    .product-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .product-price {
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}