/* General */
*{
    padding: 0px;
    margin: 0px;
}
body{
    color: whitesmoke;
    background-color: #132E35;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
.accounts a button{
    background-color: transparent;
    border: none;
}

/* Header */
header{
    display: block;
    padding-top: 0.75%;
    background-color: #104C53
}
header nav{
    display: inline;
    padding-inline: 0.37%;
}
img .accNav{
    width: 2.5em;
    height: 2.5em;
}

/* Main */


/* Aside */


/* Footer */
footer{
    background-color: #104C53;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-bottom: 0.75%;
}
footer div{
    flex:1;
    max-width:25%;
}