* {
  font-family: "Comfortaa", cursive;
}

.logo a {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.8rem;
  color: #02c1ca;
}


/*      MAIN  - MAIN -  MAIN      */

/* main section.add-banner-container {
  display: flex;
  justify-content: center;
} */

main section ul.add-banner-slider {
  padding-top: 8vh;
}

main section #add-banner-1,
main section #add-banner-2,
main section #add-banner-3 {
  height: 39vh;
  width: 100vw;
}

main section.add-banner-container ul,
main section.add-banner-container ul li {
  list-style: none;
}
ul.add-banner-slider {
  position: relative;
}
ul.add-banner-menu {
  position: relative;
}

ul.add-banner-slider li {
  /* ul.add-banner-menu li */
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
}
main section .add-banner-slider img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  /* object-fit: cover; */
}

main section ul.add-banner-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 12%;
  margin-left: 41%;
}

main section ul.add-banner-menu i {
  color: #02c1ca;
}
/* main section ul.add-banner-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

ul.add-banner-slider li:first-child {
  opacity: 1;
}
ul.add-banner-slider li:target {
  opacity: 1;
}

/*      FOOTER  --  FOOTER  -- FOOTER     */
