.card {
  display: flex;
  flex-direction: column;
}
.product {
  display: flex;
  flex-direction: row;
  padding: 10px;
  display: flex;
  background: #0f8b8d;
  border-radius: 22px 5px 21px 3px;
  box-shadow: 0px 0px 4px 0px rgba(18, 18, 18, 0.4);
  font-family: "Smooch Sans", sans-serif;
  text-align: center;
}
.product figure {
  width: 90%;
  border-radius: 1px 20px 1px 20px;
}
.productDetails {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}
.producDetails {
  font-family: "Smooch Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 35px;
}
.producDetails a {
  text-align: left;
}
.producDetails h6 {
  text-align: left;
  opacity: 0.8;
}
.producDetails p {
  text-align: center;
  margin: 10% 0;
  font-size: 12px;
}

.productDetails form {
  margin-left: 10px;
  margin-right: auto;
}

.buy {
  padding: 20px;
}

.buy-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buy-option h5 {
  font-size: 1.2rem;
}

.buy-option select {
  background-color: #0f8b8d;
  opacity: 0.9;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
button {
  background: rgba(50, 150, 150, 1);
  border-color: hsla(0, 0%, 0%, 0.8);
  padding: 15px;
  border-radius: 10px;
  font-weight: bolder;
  bottom: 0;
  margin: 1%;
}

button:hover,
button:focus {
  border: 1px solid #d2e669;
  border-radius: 5px;
}

.description {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.description p {
  padding-top: 10px;
}

figure {
  object-fit: contain;
}
.imgCont {
  display: flex;
  justify-content: center;
  padding: 10px;
}

figure {
  border: 5px solid rgba(255, 255, 255, 0.55);
  width: 50%;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
}

.imgCont figure img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media (min-width: 481px) {
  .card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    max-width: 500px;
  }
  .buy {
    width: 100%;
  }
  .buy-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buy-option h5 {
    padding-right: 30px;
  }
  .buy-option select {
    margin-left: 0 10px;
  }
  .button {
    display: flex;
    justify-content: center;
  }

  figure {
    border: 5px solid rgba(255, 255, 255, 0.55);
    width: 50%;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
  }
}

@media (min-width: 769px) {
  .card-1 {
    display: flex;
  }
  .product {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    min-width: 500px;
  }

  p {
    font-size: 25px;
  }

  .product-text {
    font-size: 20px;
  }

  figure {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
  }

  .producDetails p {
    font-size: 20px;
  }
}
