<script src="/js/misc/main.js"></script>
<% if (locals.scripts && locals.scripts.length > 0) { %>
  <% for (let script of scripts) { %>
    <script src="/js/<%= script %>.js"></script>
  <% } %> 
<% } %>

</body>
</html>