<header>
    <nav>
        <a href="/" class="brand">
            <i class="fa-brands fa-reddit"></i>
        </a>
        <div class="desktopNav">
            <ul>
                <li><a href="/store/">Mercado</a></li>
                <li><a href="/user/cart">Carrito</a></li>
                <li><a href="/user/collection">Colección</a></li>
                <li><a href="/user/favourites">Favoritos</a></li>
                <li><a href="/store/productDetails">Product Details</a></li>
            </ul>
        </div>
        <div>
            <a href="" id="choiceLogOrSign"><i class="fa-solid fa-user"></i></a>
            <a href="" id="burgerMenu"><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="mobileNav">
            <a href="/product/">Mercado</a>
            <a href="/user/collection">Colección</a>
            <a href="/user/favourites">Favoritos</a>
            <a href="/user/cart">Carrito</a>
            <a href="/product/productDetails">Detalles del Producto</a>
            <a href="/">DHaunters</a>
        </div>
    </nav>
    <div id="overlay">
        <div id="popup">
            <i class="fa-solid fa-xmark" id="closePopup"></i>
            <a href="/user/login" id="logIn">Iniciar Sesion</a>
            <a href="/user/register" id="signUp">Registrarse</a>
        </div>
    </div>
</header>