<%- include("../partials/head") %>
    <header>
      <div class="contenedor">
        <div class="logo">
          <a href="/">
            <img src="/img/ghost-logo.png" alt="logo">
          </a>
        </div>
        <p class="login"><a href="/user/login">Iniciar sesión</a></p>
      </div>
    </header>
    <main>
      <div class="icono"><i class="fa-solid fa-circle-user"></i></div>
      <form action="#" method="get">
        <h3>Información del usuario</h3>

        <div class="datos-u">
          <input type="text" name="nombre" placeholder="Nombres" id="nombre" class="drawer" minlength="4" required />
          <input type="text" name="apellidos" placeholder="Apellidos" id="apellidos" class="drawer" minlength="4"
            required />

          <input type="text" name="usuario-n" placeholder="Nombre de usuario" id="usuiario-n" class="drawer"
            minlength="4" required />
          <input type="text" name="email" placeholder="E-mail" id="email" class="drawer" required />
          <input type="text" name="direccion" placeholder="Dirección" id="direccion" class="drawer" required />
          <input type="password" name="contraseña" placeholder="Contraseña" id="contraseña" class="drawer" minlength="8"
            required />
          <input type="password" name="confirmacion-c" placeholder="Confirmar contraseña" id="confirmacion-c"
            class="drawer" minlength="8" required />
        </div>

        <div class="checkbox">
          <label><input type="checkbox" name="perfil-u" value="comprador" id="comprador" required />
            Acepto términos y condiciones</label>
          <label><input type="checkbox" name="perfil-u
              value=" vendedor" id="vendedor" />
            Quiero recibir promociones en mi correo</label>
        </div>
        <button type="submit" name="enviar" value="submit" class="registrarse">
          <a href="/"></a>Registrarse
        </button>
      </form>
    </main>
  </body>

</html>